AZURE_OPENAI_API_KEY='<api_endpoint>'
AZURE_OPENAI_ENDPOINT='<api_key>'
MSSQL_CONNECTION_STRING='Server=<server>;Database=AirBnB_DiskANN;Encrypt=yes;TrustServerCertificate=Yes;Authentication=ActiveDirectoryIntegrated;'
